{
  "comment": "Account configuration file. Copy this to account_nicknames.json and add your account nicknames and types.",
  "nicknames": {
    "*1234": {
      "name": "HSA",
      "type": "tax-deferred"
    },
    "*****5678": {
      "name": "Roth IRA",
      "type": "roth"
    },
    "*****9101": {
      "name": "401(k)",
      "type": "tax-deferred"
    },
    "*****1213": {
      "name": "Traditional IRA",
      "type": "tax-deferred"
    }
  }
}
